# Virtual Environment
.venv/
venv/
ENV/

# Node modules (huge - don't upload)
node_modules/

# Logs
npm-debug.log
npm-debug.log*

# Environment variables
.env
.env.localgit status

.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build
