fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
sqlmodel==0.0.14
alembic==1.13.1
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pydantic[email]==2.6.4
shap==0.44.1
numpy==1.26.4
scikit-learn==1.4.2


